html {
    height: auto;
    width: auto;
 }
body {
    height: 100%;
    width: 100%;
    background-color: rgb(51, 51, 51);    
 }
 svg {
  padding: 0px;
  height: 100%;
  width: 100%;
  border-spacing: 0px;
  box-shadow: var(--box-shadow-color) 0 0 5px 5px;
}
div{
  height: relative;
}
 rect {
    padding: 0px;
    border-spacing: 0px;
 }
h1{
  font-family: 'VT323', monospace;
}
h2{
  font-family: 'VT323', monospace;
}
img {
  margin: 10px;
}

canvas {
  margin: 15px;
  box-shadow: var(--box-shadow-color) 0 0 10px 10px;
}

.modal-window {
  position: fixed;
  background-color: rgba(50, 50, 50, 0.75);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-window:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-window>div {
  width: 600px;
  position: relative;
  margin: 10% auto;
  border-radius: 25px;
  padding: 2rem;
  background: rgb(25, 25, 25);
  color: rgb(200, 200, 200);
}

.modal-window header {
  font-weight: bold;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.modal-close:hover {
  color: rgb(225, 225, 225);
}

.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}




.coreImage {
  padding-left: 440px;
}


.rainbow {
  /* Chrome, Safari, Opera */
 -webkit-animation: rainbow 5s infinite; 
 
 /* Internet Explorer */
 -ms-animation: rainbow 5s infinite;
 
 /* Standar Syntax */
 animation: rainbow 5s infinite; 
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
 0%{color: orange;}	
 10%{color: purple;}	
 20%{color: red;}
 30%{color: CadetBlue;}
 40%{color: yellow;}
 50%{color: coral;}
 60%{color: green;}
 70%{color: cyan;}
 80%{color: DeepPink;}
 90%{color: DodgerBlue;}
 100%{color: orange;}
}

/* Internet Explorer */
@-ms-keyframes rainbow{
  0%{color: orange;}	
 10%{color: purple;}	
 20%{color: red;}
 30%{color: CadetBlue;}
 40%{color: yellow;}
 50%{color: coral;}
 60%{color: green;}
 70%{color: cyan;}
 80%{color: DeepPink;}
 90%{color: DodgerBlue;}
 100%{color: orange;}
}

/* Standar Syntax */
@keyframes rainbow{
   0%{color: orange;}	
 10%{color: purple;}	
 20%{color: red;}
 30%{color: CadetBlue;}
 40%{color: yellow;}
 50%{color: coral;}
 60%{color: green;}
 70%{color: cyan;}
 80%{color: DeepPink;}
 90%{color: DodgerBlue;}
 100%{color: orange;}
}

 .button {
  background-color: #000000;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin:10px
}

.small-btn {
  width: 50px;
  height: 25px;
}

.medium-btn {
  width: auto+5px;
  height: auto;
  font-family: 'VT323', monospace;
  font-size: 1.5em;
  padding-left: 10px;
  padding-right: 10px;
}

.big-btn {
  width: auto;
  height: auto;
}

 #myProgress {
  width: 100%;
  background-color: grey;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: green;
}

.box {
    width: 100%;
    border-spacing: 0px;
    padding: 0px;
  }
.theDivs {
    margin: 0%;
    padding: 0px;
    width: auto;
    border-spacing: 0px;
  }

  